<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover" />
    <title>智能助理</title>
    <link rel="stylesheet" href="http://g.alicdn.com/chatui/sdk-v2/0.1.1/sdk.css">
  </head>
  <body>
    <!-- 这里填充一个调度信息，包括机构ID，接待组，需要后期根据服务器设置 -->
    <div id="shunt-info" style="display: none;"><%= foo %></div>
    <div id="root"></div>
    <script src="./scripts/socket.io-2.3.0.js"></script>
    <script src="./scripts/axios.min.js"></script>
    <script src="./scripts/uuidv4.min.js"></script>
    <script src="http://g.alicdn.com/chatui/sdk-v2/0.1.1/sdk.js"></script>
    <script src="http://g.alicdn.com/chatui/extensions/0.0.6/isv-parser.js"></script>
    <script src="./setup.js"></script>
    <script src="http://g.alicdn.com/chatui/icons/0.2.7/index.js" async></script>
  </body>
</html>